@using System.Threading.Tasks
@using AdminConsole.ViewModels
@model List<ProductVm>

<div class="btn-group">
    <a href="@Url.Action("Create", "Product")" class="btn btn-default">新建</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>名称</th>
            <th>单位</th>
            <th>单价</th>
            <th>优惠</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vm in @Model)
        {
            <tr>
                <th scope="row">@vm.Id</th>
                <td>@vm.Name</td>
                <td>@vm.Unit</td>
                <td>@vm.Price</td>
                <td>
                    <ul>
                        @foreach (var promotionName in vm.PromotionNames)
                        {
                            <li>@promotionName</li>
                        }
                    </ul>
                </td>
                <td> @Html.ActionLink("编辑","Edit") | @Html.ActionLink("删除","Delete")  </td>
            </tr>
        }
    </tbody>
</table>
