@using System.Threading.Tasks
@using AdminConsole.ViewModels
@model List<PromotionVm>
@{
    ViewBag.Title = "优惠列表";
}
<div class="btn-group">
    <a href="@Url.Action("Create")" class="btn btn-default">新建</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>名称</th>
            <th>是否优先其他优惠</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vm in @Model)
        {
            <tr>
                <th scope="row">@vm.Id</th>
                <td>@vm.Name</td>
                <td>@vm.IsOverride</td>
                <td> @Html.ActionLink("编辑","Edit") | @Html.ActionLink("删除","Delete")  </td>
            </tr>
        }
    </tbody>
</table>
